*{
    font-family: 'Rubik', sans-serif;
}
body{
    background:url(user\ detail\ bg.jpg);
    background-size: cover;
}
.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:98vw;
    height:85vh;
    font-size: 20px;
}
.dp{
    position: relative;
    width: 200px;
    height: 200px;
    background:url(sample\ user.jpg);
    background-size: cover;
    top: 4%;
    left:10px;
}

.details{

    align-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    width: 48%;
    height: 100%;
    float: left;
    background-color:transparent;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 1%;
    box-shadow: 0 2px 5px black;
}
.details label, .details button, .details b {
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    
}
.details input{
    padding: 5px;
    margin: 10px;
    background-color:rgb(209, 209, 209);
    border: none;
    border-radius: 2px;
    

}
.details button{
    position: relative;
    left:10px;
     background-color: rgb(245, 92, 31);
     border: none;
    border-radius: 5px;
    padding: 5px;
}
#map{
    
    position: relative;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    border-radius: 10px;
}

