*{
    font-family: 'Rubik', sans-serif;
}
body{
    background:url(user\ detail\ bg.jpg);
    background-size:100vw 100vh;
}
.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:98vw;
    height:85vh;
    font-size: 20px;
}
.dp{
    position: relative;
    width: 200px;
    height: 200px;
    background: url(user\ dp.jpeg);
    background-size: cover;
    top: 4%;
    left:20px;
}

.details{

    align-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    width: 48%;
    height: 100%;
    float: left;
    background-color:transparent;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 1%;
    box-shadow: 0 2px 5px black;
}
.details label, .details b{
    font-size: 30px;
    padding: 10px;
    color: white;   
    margin-left: 10px;
}
#map{
    
    position: relative;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    border-radius: 10px;
}
a{ 
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px;  
    margin-left: 10px;
    margin-top: 10px;
}
